body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #222;
    
}

header {
    background-color: #1e3a5f;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    
}

nav li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #cfdff6;
}

main {
    
    text-align: center;
}

.presentacion {
    background-color: white;
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 25px;
    
}

.presentacion h2 {
    width: auto;
    height: auto;
    color: #1e3a5f;
}

.presentacion img {
    width: auto;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

footer {
    background-color: #F2F2F2;
    text-align: center;
    margin: 0;
    padding-top: 15px;
}

footer a {
    color: #17315C;
}

footer ul {
    list-style: none;
}


footer img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
main a {
    display: block;
    text-align: center;
    margin-top: 20px;
}

main a:hover {
    color: #cfdff6;
}
